.recipe{
    
    color: rgb(240, 234, 250);
    font-size: 200px;
    font-style:oblique;
    text-align:center;
    justify-content: center;
    padding: 100px;
}
.ri{
    background: url(bg2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}
button{
    
    width: 200px;
    border-radius: 34px;
    background-color: antiquewhite;
    border: none;
    font-style:oblique;
    font-family: "Kaushan Script", cursive;
    font-size: x-large;

    
}
 a{
    text-decoration: none;
    color: black;
 }
 .fu{
    background-color: transparent;

 }
  